.sliderWrapper{
	gap: 40px;
	display: grid;
	grid-template-columns: repeat(3, 350px);
	grid-template-rows: 400px 400px 30px;
	.imageActive{

	}
	.btnMenu{
		grid-row: 3/4;
		grid-column: 1/4;
		display: flex;
		justify-content: space-around;
		button{
			height: 30px;
			width: 100px;
		}
	}
}