@use 'src/components/settings';

@mixin btnItem{
	@include settings.roboto();
	font-size: 18px;
	padding: 10px 20px;
	border-radius: 20px;
	border: 1px solid black;
	background-color: rgba(0, 0, 0, 0);
	color: white;
}
.collectionContainer {
	display: grid;
	grid-template-columns: repeat(3, 320px);
	grid-template-rows: repeat(2, 420px);
	gap: 20px;
	column-gap: 40px;
	grid-row: 2/3;
	grid-column: 2/3;

	.collectionItem {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		padding: 20px;
		width: 320px;
		max-height: 420px;

		.titleItem {
			color: white;
			@include settings.pop;
			font-size: 25px;
		}

		.descriptionItem {
			color: white;
			@include settings.roboto();
			font-size: 19px;
			padding-left: 20px
		}

		.btnItem {
			button {
				@include btnItem();
			}
			button:hover {
				@include btnItem();
				border: 1px solid white;
				background-color: rgba(255, 255, 255, 1);
				color: black;
			}
		}
	}
}