@use 'src/components/settings';

@mixin sliderItem {
	@include settings.pop;
	font-size: 17px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	min-height: 300px;
	min-width: 300px;
}

.slider {
	grid-column: 1/4;
	grid-row: 3/4;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	.btnRight{
		max-height: 50px;
		min-width: 80px;
		margin-right: 10px;
	}
	.btnLeft{
		max-height: 50px;
		min-width: 80px;
		margin-left: 10px;
	}
	.containerItems {
		height: 500px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;

		.sliderItemActive {
			@include sliderItem();

			.descItem {
				display: flex;
				flex-direction: column;
				justify-content: center;

				.titleItem {
					color: white;
				}
			}
		}

		.sliderItemDisable {
			.descItem {
				opacity: 0;
			}

			.imgContainer {
				opacity: 0.3;
			}

			@include sliderItem();
		}
	}
}