@use 'src/components/settings';

.section3Container {
	display: grid;
	grid-template-rows: 10px 1fr 10px;
	grid-template-columns: 100px 1fr 1fr 100px;
	max-width: 1903px;


	.imgContainer {
		grid-column: 2/3;
		grid-row: 2/3;
	}

	.section3Description {
		display: flex;
		flex-direction: column;
		justify-content: center;
		grid-column: 3/4;
		grid-row: 2/3;

		.containerTitle {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			padding-bottom: 10px;
			min-height: 80px;
			.title {
				@include settings.pop();
				font-size: 25px;
			}

			.description {
				@include settings.roboto();
			}
		}

		.btnTextContainer {
			max-width: 30%;
			display: flex;
			justify-content: space-between;
			button{
				border-radius: 50%;
				width: 70px;
				height: 70px;
				border: none;
				background-color: rgba(88, 110, 249, 0.8);
			}
			.text{
				@include settings.roboto();
				display: flex;
				align-items: center;
			}
		}
	}
}