@use 'src/components/settings';

.headerContainer {
	display: flex;
	justify-content: center;
	grid-row: 1/2;

	.headerContent {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-width: 1200px;
		min-height: 100px;

		.headerContainerTitle {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			min-width: 140px;

			.headerTitle {
				@include settings.pop;
				font-size: 25px;
				display: flex;
				align-items: center;
			}

			.headerTitle2 {
				@include settings.roboto;
				font-size: 20px;
				display: flex;
				align-items: center;
				padding-top: 2px;
			}
		}

		.headerContainerMenu {
			min-width: 800px;
			min-height: 100px;
			display: flex;
			justify-content: center;

			.headerMenu {
				display: flex;
				justify-content: center;

				.headerList {
					min-width: 800px;
					display: flex;
					flex-direction: row;
					justify-content: space-around;
					align-items: center;
					text-decoration: none;

					li {
						a {
							@include settings.pop;
							text-decoration: none;
							color: black;
						}
					}
				}
			}
		}
	}
}